:root {

    /* main text */
    --main-font: "roboto";
    --secondary-font: "raleway";

    /* main colors */

    --main-title-cl:#212121;
    --main-text-cl: #757575;
    --btn-hover-focus-bgd: #2196F3;
    --background: #ffffff;
    --hero-footer-bcg: #2F303A;
    --team-bcg: #F5F4FA;
    --hero-title-cl: #ffffff;
    --footer-logo: #ffffff;
    --footer-link-cl: #ffffff;


}

body {
    font-family: var(--main-font), sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--main-title-cl);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}

/* header */

.header-logo {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.header {
    letter-spacing: 0.02em;
}

/* logo */

.logoa {
    color: #2196F3;
    font-family: var(--secondary-font);


}

.logob {
    color: var(--btn-hover-focus-bgd);
    font-family: var(--secondary-font);

}

.link {
    text-decoration: none;
    font-family: inherit;
    
}

.header-link {
    font-weight: 500;
    line-height: 1.14px;
    color: var(--main-title-cl);
}

.current {
    color: var(--btn-hover-focus-bgd);
}

.header-link-contact {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    color: var(--main-text-cl);
}

.header-link-contact:hover,
.header-link-contact:focus,
.header-link:hover,
.header-link:focus,
.footer-link-contact:hover,
.footer-link-adress:hover {
    color: var(--btn-hover-focus-bgd);
}


/* hero */


.hero {
    background: var(--hero-footer-bcg);
}

.hero-title {
    text-transform: uppercase;
    color: var(--hero-title-cl);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: #ffffff;
    background-color: var(--btn-hover-focus-bgd);
}

/* секция наши преимущества */

.benefits-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-title-cl);
}

.benefits-about {
    line-height: 1.71;
    color: var(--main-text-cl);
}

/* секция чем мы занимаемся */

.section-title{
    font-size: 36px;
    line-height: 1.16;
}

/* Наша команда */

.team {
    background: var(--team-bcg);
}



.team-item {
    background: var(--background);

}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-text-cl);
}

/* footer */

.footer {
    background: var(--hero-footer-bcg);
}

.footer-logo {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logoc {
    color: var(--footer-logo);
    font-family: var(--secondary-font);
}

/* Контакты */

.footer-adress {
    font-style: normal;
}

.footer-link-adress {
    line-height: 1.71;
    text-decoration: none;
    color: var(--footer-link-cl);
}

.footer-link-contact {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

}

/* портфолио */

.btn-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(--main-title-cl);
    letter-spacing: 0.03em;

}

.active {
    background-color: var(--btn-hover-focus-bgd);
    color:#ffffff;
}

.btn-item:hover,
.btn-item:focus {
    background: var(--btn-hover-focus-bgd);
    color: #ffffff;
}

.work-list-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-text {
    font-size: 16px;
    line-height: 1.875;
    color: var(--main-text-cl);
}


